/* 右侧导航整体开始 */

.left-nav {
    height: 100%;
    background-color: #fefefe;
}


/* 右侧导航整体结束 */


/*导航模块划分*/

.left-nav a {
    width: 100%;
    color: #343434;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
}

.left-nav .row:nth-child(1) {
    padding: 0;
    margin-top: 10px;
}

.left-nav .row:nth-child(2) {
    padding-left: 10%;
    margin-top: 30px;
}

.left-nav .row:nth-child(3) {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    margin: 0;
}


/* 导航项 */

.nav-item {
    width: 100%;
    height: 25px;
    margin-top: 20%;
    position: relative;
}

.nav-item:hover .subnav,
.nav-personal:hover .subnav {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
    /*为了使得store页面的商品框框能正常工作，将z-index值设大一点了*/
    z-index: 3;
}

.nav-item:hover .glyphicon {
    animation: expand .5s linear;
}

.nav-item>a::after {
    content: '';
    width: 0;
    padding-top: 3px;
    position: absolute;
    left: 30%;
    top: 120%;
    background-color: #999;
    transition: all .3s ease;
}

.nav-item:hover a::after {
    width: 50%;
}

.nav-item span {
    vertical-align: middle;
}

.nav-item .nav-section {
    /*帮凯哥改的一个地方，使字体自适应缩放*/
    font-size:100%;
    padding-left: 10%;
    letter-spacing:3px;
}

.nav-item .glyphicon {
    font-size: 24px;
}

@keyframes expand {
    40% {
        transform: scale(1.2, 1.2);
    }
    60% {
        transform: scale(0.9, 0.9);
    }
}


/* logo样式 */

.nav-logo {
    width: 100%;
    padding: 100% 0 0;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.nav-logo a {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* 个人中心样式开始 */

.nav-personal {
    width: 100%;
    height: auto;
}

.nav-personal .nav-personal-img {
    width: 40%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.nav-personal-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* 个人中心样式结束 */


/* 子导航开始 */

.subnav {
    width: 120px;
    position: absolute;
    /*又帮凯哥改一个，他可能脑袋抽抽了，居然用right:-120%*/
    left:120%;
    top: 50%;
    transform: translateY(-50%) translateX(-20%);
    z-index: -1;
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0;
    transition: all .5s ease;
}



.subnav::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 40%;
    border-right: 20px solid #FFFFFF;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 20px solid transparent;
}
/*帮凯哥加的一个小地方*/
.subnav  ul{
    padding:0;
    margin:0;
}

.subnav li {
    height: 40px;
    overflow: hidden;
}

.subnav li:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.subnav li:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
}

.subnav a {
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 2px;
}

.subnav a:hover {
    background-color: #f5f5f5;
    font-weight: 700;
    text-shadow: 0px 0px 5px #fff;
}


/* 子导航结束 */


