<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.mapper.LogisticsMapper">
  <resultMap id="BaseResultMap" type="com.mx.pojo.Logistics">
    <result column="l_id" jdbcType="INTEGER" property="lId" />
    <result column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="waybill_num" jdbcType="VARCHAR" property="waybillNum" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.mx.pojo.Logistics">
    insert into logistics (l_id, o_id, waybill_num, 
      company, status)
    values (#{lId,jdbcType=INTEGER}, #{oId,jdbcType=INTEGER}, #{waybillNum,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mx.pojo.Logistics">
    insert into logistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        l_id,
      </if>
      <if test="oId != null">
        o_id,
      </if>
      <if test="waybillNum != null">
        waybill_num,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="waybillNum != null">
        #{waybillNum,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>