<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.mapper.OrderMapper">
  <resultMap id="OrderAndDetailMaps" type="com.mx.pojo.Order" >
    <result column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="o_name" jdbcType="VARCHAR" property="oName" />
    <!--<result property="uId" jdbcType="INTEGER" column="u_id"/>-->
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="o_status" jdbcType="VARCHAR" property="oStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <!--<result column="add_id" jdbcType="VARCHAR" property="address" />-->
      <!--封装user-->
      <association property="user" javaType="com.mx.pojo.User">
          <id property="uId" jdbcType="INTEGER" column="u_id"/>
          <result property="name" column="Uname"/>
      </association>
      <!--封装Item-->
      <association property="itemName" javaType="com.mx.pojo.Item">
          <result column="name" property="name"/>
      </association>
      <!--封装address-->
      <association property="address" javaType="com.mx.pojo.Address">
          <id property="addId" jdbcType="INTEGER" column="add_id"/>
          <result property="addr" column="addr"/>
      </association>
      <!--封装orderdetail-->
      <association property="order_detail" javaType="com.mx.pojo.Order_Detail">
          <id property="odId" jdbcType="INTEGER" column="od_id"/>
          <result column="item_id" jdbcType="INTEGER" property="itemId" />
          <result column="count" jdbcType="INTEGER" property="itemCount" />
          <result column="total_price" jdbcType="REAL" property="totalPrice" />
      </association>
      <association property="apply_return" javaType="com.mx.pojo.Apply_return">
          <id property="applyId" jdbcType="INTEGER" column="apply_id"/>
          <result property="reason" jdbcType="VARCHAR" column="reason"/>
          <result property="applyStatus" jdbcType="VARCHAR" column="apply_status"/>
      </association>
  </resultMap>

  <insert id="createOrder" parameterType="com.mx.pojo.Order">
    insert into `order`
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="oName != null">
              o_name,
          </if>
          <if test="user.uId != null">
              u_id,
          </if>
          <if test="address.addId != null">
              add_id,
          </if>
          <if test="createTime != null">
              create_time,
          </if>
          <if test="number != null">
              number,
          </if>
          <if test="oStatus != null">
              o_status,
          </if>
          <if test="note != null">
              note,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="oName != null">
              #{oName},
          </if>
          <if test="user.uId != null">
              #{user.uId},
          </if>
          <if test="address.addId != null">
              #{address.addId},
          </if>
          <if test="createTime != null">
              #{createTime},
          </if>
          <if test="number != null">
              #{number},
          </if>
          <if test="oStatus != null">
              #{oStatus},
          </if>
          <if test="note != null">
              #{note},
          </if>
      </trim>
      <!-- 获取到item最后一次插入的数据 -->
      <selectKey keyProperty="oId" resultType="Integer" order="AFTER">
          select LAST_INSERT_ID()
      </selectKey>
  </insert>
  <select id="SeeAllOrder"  resultMap="OrderAndDetailMaps">
      SELECT t1.`o_id`,t1.`o_name` ,t1.`number`
--       ,CASE t1.`o_status` WHEN 0 THEN '未处理' WHEN 1 THEN '未支付' WHEN 2 THEN '待收货中' WHEN 3 THEN '收货完成' WHEN 4 THEN '退货中' WHEN 5 THEN '退货完成' END AS `oStatus`
      ,t1.o_status
      ,t1.`note`,t1.`create_time`,t2.`total_price`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name,t3.`addr`
      FROM  `order` AS t1, `order_detail` AS t2 , `address` AS t3 , `item` AS t4
      <where>
          t1.`add_id`=t3.`add_id` AND
          t1.`o_id`=t2.`o_id` AND
          t2.`item_id`=t4.`item_id` AND
          <if test="uid!=null and uid!=''">
              t1.`u_id`=#{uid}
          </if>
          GROUP BY o_id
          <if test="sort!=null and sortOrder!=null">
              ORDER BY #{sort} #{sortOrder}
          </if>
          limit #{offset},#{pageSize}
      </where>
  </select>
  <select id="AllOrderCount" resultType="Integer">
        select count(*) from  `order` where u_id=#{uid}
    </select>
  <delete id="deleteOrder" parameterType="com.mx.pojo.Order">
      delete from `order`
      <where>
          <trim>
              <if test="o_id!=null and o_id!=''">
                  o_id=#{o_id}
              </if>
          </trim>
      </where>
  </delete>



    <!--后台-->
    <select id="SeeAllOrders"  resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id`,t1.`number`,t5.`name` as `Uname`
        --       ,CASE t1.`o_status` WHEN 0 THEN '未处理' WHEN 1 THEN '未支付' WHEN 2 THEN '待收货中' WHEN 3 THEN '收货完成' WHEN 4 THEN '退货中' WHEN 5 THEN '退货完成' END AS `oStatus`
        ,t1.o_status,t1.`note`,t1.`create_time`,t2.`total_price`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name,t3.`addr`
        FROM  `order` AS t1, `order_detail` AS t2 , `address` AS t3 , `item` AS t4,user as t5
        <where>
        t1.`add_id`=t3.`add_id` AND
        t1.`o_id`=t2.`o_id` AND
        t2.`item_id`=t4.`item_id` AND
        t5.`u_id`=t1.`u_id`
        GROUP BY o_id
        <if test="sort!=null and sortOrder!=null">
            ORDER BY #{sort} #{sortOrder}
        </if>
        limit #{offset},#{pageSize}
        </where>
    </select>
    <select id="SeeOrder"  resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id`,t5.`name` as `Uname`,t1.`number`,t1.o_status,t1.`note`,t1.`create_time`,t2.`total_price`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name,t3.`addr`
        FROM  `order` AS t1, `order_detail` AS t2 , `address` AS t3 , `item` AS t4 ,user as t5
        <where>
            t1.`add_id`=t3.`add_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id` and
            <if test="number!=null and number!=''">
                t1.number=#{number}
            </if>
        </where>

    </select>
    <select id="SeeOrderCount"  resultType="Integer">
      SELECT count(*) from `order`
      where number=#{number}

  </select>
    <select id="SeeOrderReturnCount"  resultType="Integer">
      SELECT count(*) from `order`
      where number=#{number}

  </select>
    <select id="SeeOrderReturn"  resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id`,t3.apply_id ,t5.name as `Uname`,t1.`number`,t3.apply_status,t3.reason,t1.`create_time`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name
        FROM  `order` AS t1, `order_detail` AS t2 ,apply_return as t3, `item` AS t4 ,`user` as t5
        <where>
            t1.`o_id`=t3.`o_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id` and
            <if test="number!=null and number!=''">
                t1.number=#{number}
            </if>
        </where>

    </select>
    <select id="SeeAllOrderBackManage"  resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id` ,t5.name as `Uname`,t1.`number`,t1.o_status,t1.`note`,t1.`create_time`,t2.`total_price`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name,t3.`addr`
        FROM  `order` AS t1, `order_detail` AS t2 , `address` AS t3 , `item` AS t4 ,user as t5
        <where>
            t1.`add_id`=t3.`add_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id` AND
            <if test="uid!=null and uid!=''">
                t1.`u_id`=#{uid}
            </if>
            GROUP BY o_id
            <if test="sort!=null and sortOrder!=null">
                ORDER BY #{sort} #{sortOrder}
            </if>
            limit #{offset},#{pageSize}
        </where>
    </select>
    <select id="AllOrdersCount" resultType="Integer">
        select count(*) from `order`
    </select>
    <select id="QueryAllOrderStatus"  resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id` ,t5.name as `Uname`,t1.`number`,t1.o_status,t1.`note`,t1.`create_time`,t2.`total_price`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name,t3.`addr`
        FROM  `order` AS t1, `order_detail` AS t2 , `address` AS t3 , `item` AS t4 ,user as t5
        <where>
            t1.`add_id`=t3.`add_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id` AND
            <if test="oStatus!=null">
                o_status=#{oStatus}
            </if>
            GROUP BY o_id
            <if test="sort!=null and sortOrder!=null">
                ORDER BY #{sort} #{sortOrder}
            </if>
            limit #{offset},#{pageSize}
        </where>

    </select>
    <select id="AllOrderStatusCount" resultType="Integer">
        select count(*) from  `order` where  o_status=#{oStatus}
    </select>
    <update id="updateOrderStatus" parameterType="com.mx.pojo.Order">
        update  `order`
        <set>
            <if test="oStatus!= null and oStatus!=''">
                o_status=#{oStatus},
            </if>
        </set>
        where o_id=#{oId}
    </update>
    <select id="queryItemsCountByOrder" resultType="Integer">
        select count from  order_detail where  o_id=#{oId}
    </select>

    <select id="CheckReturn" resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id`,t3.apply_id ,t5.name as `Uname`,t1.`number`,t3.apply_status,t3.reason,t1.`create_time`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name
        FROM  `order` AS t1, `order_detail` AS t2 ,apply_return as t3, `item` AS t4 ,`user` as t5
        <where>
            t1.`o_id`=t3.`o_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id`
            GROUP BY o_id
            <if test="sort!=null and sortOrder!=null">
                ORDER BY #{sort} #{sortOrder}
            </if>
            limit #{offset},#{pageSize}
        </where>
    </select>
    <select id="CheckReturnCount" resultType="Integer">
        select count(*) from  apply_return
    </select>
    <select id="SeeAllOrderReturnBackManage" resultMap="OrderAndDetailMaps">
        SELECT t1.`o_id`,t3.apply_id ,t5.name as `Uname`,t1.`number`,t3.apply_status,t3.reason,t1.`create_time`,GROUP_CONCAT(t4.`name`,'(',t2.`count`,')') as name
        FROM  `order` AS t1, `order_detail` AS t2 ,apply_return as t3, `item` AS t4 ,`user` as t5
        <where>
            t1.`o_id`=t3.`o_id` AND
            t1.`o_id`=t2.`o_id` AND
            t2.`item_id`=t4.`item_id` and
            t5.`u_id`=t1.`u_id` AND
            <if test="uid!=null and uid!=''">
                t1.`u_id`=#{uid}
            </if>
            GROUP BY o_id
            <if test="sort!=null and sortOrder!=null">
                ORDER BY #{sort} #{sortOrder}
            </if>
            limit #{offset},#{pageSize}
        </where>
    </select>
    <select id="AllOrderReturnCount" resultType="Integer">
        select count(*) from  apply_return
        where o_id=#{oId}
    </select>
</mapper>