.addItem-main{
	margin-top:20px;
}
/*微调fileinput的样式*/
/*算了，没有响应式，加了难看*/
/* .file-preview{
	height:565px;
}
.file-drop-zone{
	height:525px;
}
.file-drop-zone-title{
	height:100%;
	padding-top:230px !important;
} */