.order-filter{
	position:relative;
	z-index:1;
	margin-top:20px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}
.order-filter .panel-heading>h4>span{
	cursor:pointer;
}

/*订单信息表格*/
.order-info-table{
	width:100%;
	margin-bottom:20px;
   	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}
.order-info-table  table th,td{
	text-align: center;
}

/*订单筛选按钮*/
.order-btns{
	margin-bottom:15px;
}